.badge {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: beige;
  background-color: rgb(255, 38, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
