.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: ivory;
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title {
      font-size: 23px;
      font-weight: 500;
      color: $gh;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 10px;
      font-size: 12px;
    }
    .video-mixin__meta #views {
      font-weight: 500;
    }
    .video-mixin__meta span {
      font-size: 15px;
      display: inline-block;
      margin: 5px 0px;
    }
    .video-mixin__meta #summary {
      font-weight: 500;
      font-size: 18px;
    }
    .video-mixin__meta small {
      font-size: 13px;
    }
    .video-mixin__meta #nickname {
      display: block;
      margin-top: 5px;
      font-size: 18px;
      color: $ghl;
    }
  }
}
