form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
.social__btn {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white;
  color: rgba($color: $red, $alpha: 1);
  text-align: center;
  cursor: pointer;
  display: block;
}
