$red: #cc0d00;
$bg: #0e1117;
// $gh: #0c40f2;
$ghhh: #00acb1;
// $ghl: #443df4;
// $ghh: #1132a6;

$ghl: rgb(183, 250, 250);
$ghh: rgb(0, 214, 214);
$gh: rgb(11, 230, 230);
$hond: #e6c622;
$hong: #c5e600;
$honl: #effaaa;
$hon: #f3e300;
