.my-display {
  height: 80px;
  margin: var(--basic_margin);
  display: flex;
}

.my-display > div:first-child {
  height: 60px;
  width: 60px;
  border-radius: 30%;
  background-color: var(--dbasic);
}
.my-display div:first-child img {
  height: 100%;
  width: 100%;
}
.my-display_content {
  margin-left: 15px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.my-display_content div {
  width: 285px;
  background-color: none;
  display: flex;
  justify-content: space-between;
}
.my-display_content div:last-child div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-display_content div:first-child span:first-child {
  font-size: var(--name_font);
}
.my-display_content div:first-child span:last-child {
  opacity: 0.4;
  font-size: 10px;
}
.my-display_content div:last-child span:nth-of-type(1) {
  font-size: 12px;
  opacity: 0.4;
}

.my-display_content div:last-child div span {
  color: white;
  font-size: 11px;
  font-weight: 700;
  opacity: 1 !important;
}
