/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/scss/styles.scss ***!
  \************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style: none;
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #effaaa;
  font-size: 30px;
  margin-right: 10px;
}
header .header__logo i {
  color: #e6c622;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #0e1117;
  padding: 5px 10px;
  border-radius: 5px;
}
header .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header #header__titlebox {
  display: flex;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
  color: #e6c622;
}

.video-mixin .video-mixin__thumb {
  height: 140px;
  border-radius: 7px;
  width: 100%;
  background-color: ivory;
}
.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 23px;
  font-weight: 500;
  color: rgb(11, 230, 230);
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 10px;
  font-size: 12px;
}
.video-mixin .video-mixin__data .video-mixin__meta #views {
  font-weight: 500;
}
.video-mixin .video-mixin__data .video-mixin__meta span {
  font-size: 15px;
  display: inline-block;
  margin: 5px 0px;
}
.video-mixin .video-mixin__data .video-mixin__meta #summary {
  font-weight: 500;
  font-size: 18px;
}
.video-mixin .video-mixin__data .video-mixin__meta small {
  font-size: 13px;
}
.video-mixin .video-mixin__data .video-mixin__meta #nickname {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  color: rgb(183, 250, 250);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
}
form:not(.search__form) {
  padding: 30px;
  background-color: rgba(14, 17, 23, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

input:not(#volume, #timeLine, .social__btn, #video__uploadBtn, #pw__updateBtn) {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
input:not(#volume, #timeLine, .social__btn, #video__uploadBtn, #pw__updateBtn)::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type=submit],
.social__btn,
#video__uploadBtn,
#pw__updateBtn {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #e6c622;
  color: #0e1117;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

input:not(#volume, #timeLine) {
  text-align: center;
}

input[type=file] {
  cursor: pointer;
  margin-left: 10px;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 30px;
}
.social-login .social__btn--github {
  background-color: transparent;
  color: azure;
}

.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid,
.comment-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.comment-grid {
  margin-top: 10px;
  padding-left: 10px;
}

.comment-grid span {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.video__comment-form {
  display: flex;
  justify-content: center;
  max-width: none;
  width: auto;
  border-radius: 10px;
}

.video__comment-form textarea {
  height: 40px;
  width: 60%;
  opacity: 0.6;
  border-radius: 10px;
  padding-left: 20px;
}

.video__comment-form textarea::placeholder {
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
}

.video__comment-form button {
  background-color: #e6c622;
  width: 150px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#pwerror__message {
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
}

#comment-grid__title {
  margin-left: 10px;
  font-size: 20px;
  color: #effaaa;
}

#uploading__link {
  color: #e6c622;
  position: absolute;
  right: 50px;
}

#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer i,
#videoContainer button {
  cursor: pointer;
}
#videoContainer video {
  width: 100%;
}
#videoContainer .videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  background-color: #0f1117;
  padding: 10px;
  left: 0;
  box-sizing: border-box;
}
#videoContainer .videoControls.showControls {
  opacity: 1;
}
#videoContainer .videoControls .videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#videoContainer .videoControls .videoControls__play .videoControls__playBtn {
  margin: 0px 15px;
}
#videoContainer .videoControls .videoControls__play .videoControls__time {
  font-size: 12px;
}
#videoContainer .videoControls .videoControls__volume {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls .videoControls__volume span {
  margin-left: 10px;
}
#videoContainer .videoControls .videoControls__volume span i {
  font-size: 20px;
}

form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

.social__btn {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white;
  color: #cc0d00;
  text-align: center;
  cursor: pointer;
  display: block;
}

.search__form {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  align-items: center;
}
.search__form input {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
  margin-left: 10px;
}
.search__form input::placeholder {
  font-size: 22px;
}
.search__form button {
  all: unset;
}
.search__form button {
  top: 40px;
  position: absolute;
  right: 15px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
}
.search__form button i {
  padding-bottom: 5px;
  padding-right: 5px;
  color: #e6c622;
  font-size: 20px;
}

label[for=title] {
  text-align: center;
  color: #e6c622;
  font-weight: 700;
}

label[for=video] {
  text-align: center;
  color: #e6c622;
  font-size: 28px;
  padding-bottom: 15px;
}

.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile__data img {
  margin-bottom: 10px;
}
.profile__data h3 {
  font-size: 18px;
}

.video__data {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.video__data #genres,
.video__data #hashtags {
  font-weight: 500;
  display: inline-block;
  margin: 2px 0px;
}
.video__data .video__createdAt {
  position: absolute;
  right: 0;
  display: block;
  margin-top: 8px;
  font-size: 12px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 20px;
}
.video__comments .video__comment {
  padding: 10px;
  border-radius: 9999px;
  background-color: white;
  color: black;
  margin-bottom: 10px;
}
.video__comments .comment__delete {
  border: none;
  background-color: white;
  cursor: pointer;
}

.video__Sum {
  font-size: 20px;
  margin-bottom: 10px;
}

.video__title {
  color: rgb(11, 230, 230);
  font-size: 30px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.video__views {
  position: absolute;
  right: 0;
  font-size: 15px;
  top: 5px;
}

.video__owner {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}
.video__owner a {
  color: rgb(183, 250, 250);
}

.video__infobox {
  position: relative;
}

.video__headline {
  position: relative;
}

.video__modifybox1,
.video__modifybox2 {
  font-size: 18px;
  position: absolute;
  right: 30px;
}

.video__modifybox2 {
  position: absolute;
  margin-right: 125px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e1117;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.flashMessage {
  background-color: rgb(0, 207, 207);
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 2s;
}
.flashMessage.error {
  background-color: tomato;
  color: white;
}
