extends ../layout
include ../mixins/video

block content 
  form(method)
    label(for="title") Video Search | title
    input(id="title", name="title", placeholder="Write the Title of Video",type="text" )
    input(value="upload",type="submit")
  //- form(method)
  //-   label(for="hashtags") Video Search | hashtags
  //-   input(id="hashtags",name="hashtags", placeholder="hashtags: divided by comma",type="text")
  //-   input(value="upload",type="submit")
  
  //- form(method)
  //-   label(for="genres") Video Search | genres
  //-   input(id="genres",name="genres", placeholder="Genres: divided by comma",type="text")
  //-   input(value="upload",type="submit")
  if errorMessage 
    span=errorMessage
  if videos
    ul
      each video in videos  
        +video(video)
      else 
        span No Result  