extends ../layout
block content 
  form(method)
    label(for="video") Video Search
    input(name="title", placeholder="Title of Video",type="text",required )
    input(name="hashtags", placeholder="hashtags: divided by comma",type="text",required)
    input(name="genres", placeholder="Genres: divided by comma",type="text",required)
    input(value="upload",type="submit")