extends ../layout

block content
  if errorMessage 
    h2 Please Upload Again
     h3 ERROR | #{errorMessage} 

  form(method="POST", enctype="multipart/form-data")
    label(for="video") Video Uploader
    input(name="video",accept="video/*", type="file", id="video")
    //- required넣기
    input(name="title", placeholder="Title of Video",type="text",required )
    input(name="summary", placeholder="Video Summary",type="text", required )
    input(name="hashtags", placeholder="hashtags: divided by comma",type="text",required)
    input(name="genres", placeholder="Genres: divided by comma",type="text",required)
    input#video__uploadBtn(value="upload",type="submit")