extends ../layout
block content 

  form(method="POST")
    input(name="nowPassword",placeholder="current password",type="password")
    input(name="newPassword",placeholder="new password",type="password")
    input(name="validPassword",placeholder="new password again",type="password")
    input#pw__updateBtn(type="submit",value="Update")  
    if errorMessage 
      br
      span#pwerror__message ERROR | #{errorMessage} 