extends ../layout
block content 
  form(method="POST")
      input(name="nickname",value=loggeduser.nickname,placeholder="nick-name",type="text")
      label(for="avatar")
      input(id="avatar", name="avatarUrl",placeholder="avatar",type="file")
      input(type="submit",value="Update")
      hr
      a(href="/users/changePW") &rarr; Change Password 